-
	var slides = [
		{
			color: '#b0a08b',
			title: 'Перфораторы',
			desc: 'Настроящие мужские игрушки',
			link: '/catalog.html',
			img: 'assets/img/content/punch.jpg',
			retinaImg: 'assets/img/content/punch@2x.jpg 2x',
			active: true
		},
		{
			color: '#985f58',
			title: 'Дрели',
			desc: 'На радость соседям',
			link: '/catalog.html',
			img: 'assets/img/content/drill.jpg',
			retinaImg: 'assets/img/content/drill@2x.jpg 2x',
			active: false
		}
	];

.slider
	each slide in slides
		.slide(style=slide.color, class={'slide_active': slide.active})
			img.slide__img(
				src=slide.img,
				srcset=slide.retinaImg,
				width="620",
				height="266",
				alt=""
			)
			.slide__header
				h4.slide__title #{slide.title}
				| #{slide.desc}
			a(href=slide.link).slide__link.btn открыть каталог

	.slider__controls
		.slider__nav-items
			button.dot.dot_active
			button.dot

		button.slider__btn.slider__btn_prev
			+icon("left").slider__btn-icon
		button.slider__btn.slider__btn_next
			+icon("right").slider__btn-icon
